<html>
  <head>
  </head>
 <body>
   <h1>Search for your book:<h1>
         	

		<form action="/search_result" method="post">

		<label for="author_field" style="font-size:50%;">Author:</label>
		<input type="text" id="author_field" name="author">
		<label for="genre_field" style="font-size:50%;">Genre:</label>
		<input type="text" id="genre_field" name="genre">
		<label for="id_field" style="font-size:50%;">ID:</label>
		<input type="text" id="id_field" name="id">	
		<label for="year_field" style="font-size:50%;">Publication Year:</label>
		<input type="text" id="year_field" name="year">	
		<label for="title_field" style="font-size:50%;">Title:</label>
		<input type="text" id="title_field" name="title">	
		
		<input type="submit" value="Submit">
		</form>

 </body>
</html>
